# Visual Studio
.vs/*
!.vs/tasks.vs.json
*.vcxproj.user
*.suo
*.user
*.userosscache
*.sln.docstates

# Build output
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
out/
*.obj
*.pdb
*.ilk
*.exp
*.lib
*.dll
*.exe
*.log
*.tlog
*.idb
*.iobj
*.ipdb

# vcpkg
vcpkg_installed/

# Other
.venv/
docs/_build/
docs/_doxygen/
